<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Functional Learning Centre Inc</title>
<style>
            table {
              border-collapse: collapse;
              border: 1px solid black;
            }

            th,td {
              border: 1px solid black;
            }

            table.a {
              table-layout: auto;
              width: 100%;
            }

            table.b {
              table-layout: fixed;
              width: 180px;
            }

            table.c {
              table-layout: auto;
              width: 100%;
            }

            table.d {
              table-layout: fixed;
              width: 100%;
            }
        </style>
</head>
<body>

<h1><center>Functional Learning Centre Inc</center></h1>
<div><center>
    {% if button_type == 'Upload' %}
    <form action="" method="post" enctype="multipart/form-data">
        Select csv to upload:
        <input type="file" name="csv_file" id="fileToUpload"><br><br>
        <input name="button" value="{{button_type}}" hidden>
        <input type="file" name="data" value="{{file}}" hidden>
        <input type="submit" value="{{button_type}}" name="{{button_type}}">
    </form>
    {% endif %}
    {% if button_type == 'Review' %}
    <form action="" method="post">
        <input name="button" value="{{button_type}}" hidden>
        <input name="data" value="{{file}}" hidden>
        <input type="submit" value="{{button_type}}" name="{{button_type}}">
    </form>
    {% endif %}
    {% if button_type == 'Submit' %}
    <form action="" method="post">
        <input name="button" value="{{button_type}}" hidden>
        <input id="data" name="data" value="{{result | safe}}" hidden>
        <input type="submit" value="{{button_type}}" name="{{button_type}}">
    </form>
    {% endif %}
    {% if button_type == 'Saved' %}
    <p>SAVED</p>
    {% endif %}

</div>
<br>
<div>
    <table class="a">
        <tr>
            <th style="padding:7px">Client Name</th>
            <th style="padding:7px">Client Initial</th>
            <th style="padding:7px">Date</th>
            <th style="padding:7px">Start Time</th>
            <th style="padding:7px">Duration</th>
            <th style="padding:7px">End Time</th>
            <th style="padding:7px">Notes</th>
            <th style="padding:7px">Type</th>
            <th style="padding:7px">Error Type</th>
        </tr>
            {% for i in result %}
                {% if i.error == 'Gap' %}
                    <tr style="background:yellow">
                        <td style="padding:7px"><center>{{i.client_name}}</td>
                        <td style="padding:7px"><center>{{i.client_initial}}</td>
                        <td style="padding:7px"><center>{{i.date}}</td>
                        <td style="padding:7px"><center>{{i.start_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.duration}}</td>
                        <td style="padding:7px"><center>{{i.end_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.notes}}</td>
                        <td style="padding:7px"><center>{{i.type}}</td>
                        <td style="padding:7px"><center>{{i.error}}</td>
                    </tr>
                {% elif i.error == 'Overlap' %}
                    <tr style="background:green">
                        <td style="padding:7px"><center>{{i.client_name}}</td>
                        <td style="padding:7px"><center>{{i.client_initial}}</td>
                        <td style="padding:7px"><center>{{i.date}}</td>
                        <td style="padding:7px"><center>{{i.start_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.duration}}</td>
                        <td style="padding:7px"><center>{{i.end_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.notes}}</td>
                        <td style="padding:7px"><center>{{i.type}}</td>
                        <td style="padding:7px"><center>{{i.error}}</td>
                    </tr>
                {% elif i.error == 'Duplicate' %}
                    <tr style="background:red">
                        <td style="padding:7px"><center>{{i.client_name}}</td>
                        <td style="padding:7px"><center>{{i.client_initial}}</td>
                        <td style="padding:7px"><center>{{i.date}}</td>
                        <td style="padding:7px"><center>{{i.start_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.duration}}</td>
                        <td style="padding:7px"><center>{{i.end_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.notes}}</td>
                        <td style="padding:7px"><center>{{i.type}}</td>
                        <td style="padding:7px"><center>{{i.error}}</td>
                    </tr>
                {% elif i.error == 'Cancellation' %}
                    <tr style="background:red">
                        <td style="padding:7px"><center>{{i.client_name}}</td>
                        <td style="padding:7px"><center>{{i.client_initial}}</td>
                        <td style="padding:7px"><center>{{i.date}}</td>
                        <td style="padding:7px"><center>{{i.start_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.duration}}</td>
                        <td style="padding:7px"><center>{{i.end_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.notes}}</td>
                        <td style="padding:7px"><center>{{i.type}}</td>
                        <td style="padding:7px"><center>{{i.error}}</td>
                    </tr>
                {% elif i.error == 'Update' %}
                    <tr style="background:green">
                        <td style="padding:7px"><center>{{i.client_name}}</td>
                        <td style="padding:7px"><center>{{i.client_initial}}</td>
                        <td style="padding:7px"><center>{{i.date}}</td>
                        <td style="padding:7px"><center>{{i.start_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.duration}}</td>
                        <td style="padding:7px"><center>{{i.end_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.notes}}</td>
                        <td style="padding:7px"><center>{{i.type}}</td>
                        <td style="padding:7px"><center>{{i.error}}</td>
                    </tr>
                {% elif i.error == 'NEW' %}
                    <tr style="background:yellow">
                        <td style="padding:7px"><center>{{i.client_name}}</td>
                        <td style="padding:7px"><center>{{i.client_initial}}</td>
                        <td style="padding:7px"><center>{{i.date}}</td>
                        <td style="padding:7px"><center>{{i.start_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.duration}}</td>
                        <td style="padding:7px"><center>{{i.end_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.notes}}</td>
                        <td style="padding:7px"><center>{{i.type}}</td>
                        <td style="padding:7px"><center>{{i.error}}</td>
                    </tr>
                {% else %}
                 <tr>
                        <td style="padding:7px"><center>{{i.client_name}}</td>
                        <td style="padding:7px"><center>{{i.client_initial}}</td>
                        <td style="padding:7px"><center>{{i.date}}</td>
                        <td style="padding:7px"><center>{{i.start_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.duration}}</td>
                        <td style="padding:7px"><center>{{i.end_time | time:"H:i" }}</td>
                        <td style="padding:7px"><center>{{i.notes}}</td>
                        <td style="padding:7px"><center>{{i.type}}</td>
                        <td style="padding:7px"><center>{{i.error}}</td>
                </tr>
                {% endif %}
        {% endfor %}
    </table>
</div>
</body>
</html>